@{
    ViewData["Title"] = "Home Page";
}
@using System.Globalization

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="font-size:48px">@ViewBag.data</a>.</p>
</div>

@{
    DateTime dia = DateTime.Now;
    CultureInfo idioma = new CultureInfo("en-US");
    <select style="font-size:48px" class="text-center">
        @for (int i = 1; i <= 7; i++)
        {
            switch (i)
            {
                case 1:
                    <option>@DateTime.Now.AddDays(i - 1).ToString("D", idioma)</option>
                    break;
                case 2:
                    <option>@DateTime.Now.AddDays(i - 1).ToString("D", idioma)</option>
                    break;
                case 3:
                    <option>@DateTime.Now.AddDays(i - 1).ToString("D", idioma)</option>
                    break;
                case 7:
                    <option>@DateTime.Now.AddDays(i - 1).ToString("D", idioma)</option>
                    break;
            }
        }
    </select>
}